body,html{
	padding : 0px;
	margin : 0px;
	background : #060301;
	font-family: 'Noto Sans', sans-serif !important;
	font-style: normal !important;
	font-weight : 400;
	color : white;
	background: black;
	width: 100%;
	height: 100%;
}

body.nonoverflow {
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: white;
}
.none{
	display :none !important;
}

#web-body > section {
	position: absolute;
}

#web-body > section.active {
	display: block;
	z-index: 3;
}

#web-body > section.active.ready {
	z-index: 2;
}

#web-body > section.sliding {
	z-index: 100;
}

#web-body > section:not(.active) {
	display: none;
}

.fadein {
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 40);
}

.fadein.ready {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.fadein.show {
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
}


.main-layout{
	height : 177.77vw;
	width : 100%;
	background: url('../mobile_images/main_bg.png') no-repeat center;
	background-size: cover;
}
.reserved-layout{
	height : 177.77vw;
	width : 100%;
	background: url('../mobile_images/reserved_bg.png') no-repeat center;
	background-size: cover;
}
.facebook-layout{
	height : 177.77vw;
	width : 100%;
	background: url('../mobile_images/facebook_bg.png') no-repeat center;
	background-size: cover;
}
.cafe-layout{
	height : 177.77vw;
	width : 100%;
	background: url('../mobile_images/cafe_bg.png') no-repeat center;
	background-size: cover;
}
section{
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.header{
	background: url(../mobile_images/header_bg.png);
	background-size: 100% 100%;
	display : block;
	position : fixed;
	z-index : 999;
	height: 13.2vw;
	width : 100%;
	text-align : center;
}
.header ul{
	width: 100%;
	display: inline-block;
	*display: inline;
	height: 100%;
	margin : 0px auto;
	padding : 0px;
    align-items: center;
	text-align : center;
}
.header ul li {
	float : left;
	height : 100%;
	width : auto;
	margin : 0px 4.7vw;
	list-style-type: none;
	cursor : pointer;
  object-fit: contain;
}
.header ul li .btn{
	height : 100%;
	width : 100%;
	padding : auto;
}
.header ul li .bar {
	margin-top : 20px;
	float : right;
}
.header li .btn img {
	margin-top : 6.4vw;
	height: 3.8vw;
}
.header li.active img:first-child {
	display: none;
}
.header li:not(.active) img:last-child {
	display: none;
}

.header > #header-tab-check {
	position: fixed;
	display: none;
}
.btn-floating{
	position: fixed;
	right : 6vw;
	top: 16vw;
}
.btn-floating img{
	width: 6vw;
}
.btn-group{
	text-align: center;
	width: 100%;
	margin: auto;
	position: relative;
	margin-top: 72vw;
}
.stores img {
	width : 30%;
	max-width: 220px;
}
.footer{
	margin-top : 43vw;
	padding-left: 16px;
	padding-right: 16px;
	height: 4.4vw;
	background: url('../mobile_images/footer.png') no-repeat center;
	background-size: cover;
}
.footer-btn{
	width : 100%;
	margin: auto;
	padding-top: 10px;
}
.footer a{
	display: inline-block;
	margin-left: 3.5vw;
	width: 16.2vw;
	height: 100%;
}
.footer .cafe,.footer .facebook{
	margin-left: 8px;
	float: right;
}

.reserved-group{
	width: 72vw;
	margin: auto;
	position: relative;
	top: 26.5%;
}
.radio-group img, .checkbox-group img{
	width: 3.3vw;
	height: 3.3vw;
 }
img.radio-label{
	height: 3.8vw;
}
img.checkbox-label{
	height: 2.36vw;
}

.radio-group, .radio-label, .checkbox-group, .checkbox-label{
	cursor: pointer;
}

.radio-group.active img:first-child, .checkbox-group.active img:first-child{
	display: none;
}
.radio-group:not(.active) img:last-child, .checkbox-group:not(.active) img:last-child{
	display: none;
}
.input-group{
	margin-top: 12px;
}
.policy-group{
	width: 80%;
	margin: auto;
	margin-top : 20px;
}
input.phone{
	padding: 0px;
	background: url("../mobile_images/input_bg.png") no-repeat center;
	background-size: cover;
	border : none;
	width: 100%;
	height: 10vw;
	color: rgb(131,124,108);
	font-size: 3vw;
	font-weight : 600;
	text-align: center;
}
input.submit{
	border : none;
	background: url("../mobile_images/reserved_btn2.png") no-repeat center;
	background-size: cover;
	width: 35.87vw;
	height: 11.3vw;
	margin: auto;
	display: block;
}
.gage-box{
	background: url("../mobile_images/gage_box.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 35.27vw;
	margin: auto;
}
.gage{
	background: url("../mobile_images/gage.png") no-repeat center;
	background-size: cover;
	width: 80.83vw;
	height: 7.91vw;
	margin: auto;
	position: relative;
	top: 1.8vw;
}
.reward-group{
	position: relative;
	top: 3.6vw;
	width: 100%;
}
.reward{
	margin-top: 1.5vw;
	margin-right: 1px;
	text-align: center;
	display: inline-block;
	width: 33%;
	height: 20vw;
	float: left;
}
.reward img{
	width: 90%;
}
.shadow{
	margin-left: 2px;
	background: rgba(23,11,2,0.5);
	display: inline-block;
	position: absolute;
	width: 33%;
	height: 22.5vw;
}
.cafe-btn{
    margin: auto;
    display: block;
    width: 340px;
    margin-top: 40px;

}
.none {
	display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal.popup .modal-content {
	width : 85vw;
	margin: auto;
	border : none;
	position: relative;
}
.modal.popup .modal-content img{
	width: 100%;
}
.modal.popup .modal-content .close{
	cursor: pointer;
	width: 4vw;
	height: 4vw;
	position: absolute;
	top : 1.85vw;
	right: 2.01vw;

}
.txt_agree{
	padding :5.5vw;
}
.txt_agree strong{font-size:2.7vw;}
.txt_agree .scroll_box{height:82.22vw; overflow-y : auto; margin-top: 2.7vw;}
.txt_agree p{font-size:1.8vw;}
#policyLongModal .modal-content {
	background : url(/mobile_images/popup.png);
	background-size: cover;
	height: 103.88vw;
	width: 92.63vw;
	color : black;
}


.facebook-reply{
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	width:84%;
	top: 68.5%;
	left :3px;
	background-color: white;
	padding: 10px 5px;
	height: 90vw;
	overflow-y: auto;
	overflow-x: hidden;
}


.modal-cafe {
    position: absolute;
    display: inline-block;
    width: 39.46vw;
    height: 8.35vw;
    left: 23.27vw;
    bottom: 6.9vw;
    cursor: pointer;
}
