

body,html{
	padding : 0px;
	margin : 0px auto;
	background : #060301;
	font-family: 'Noto Sans', sans-serif !important;
	font-style: normal !important;
	font-weight : 400;
	color : white;
	background: black;
	max-width: 1920px;
}

body.nonoverflow {
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: white;
}
.none{
	display :none !important;
}

#web-body > section {
	position: absolute;
}

#web-body > section.active {
	display: block;
	z-index: 3;
}

#web-body > section.active.ready {
	z-index: 2;
}

#web-body > section.sliding {
	z-index: 100;
}

#web-body > section:not(.active) {
	display: none;
}

.fadein {
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 40);
}

.fadein.ready {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.fadein.show {
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
}


.main-layout{
	background: url('../images/main_bg.png') no-repeat center;
	background-size: 1920px 1081px;
	height: 1080px;
}
.reserved-layout{
	background: url('../images/reserved_bg.png') no-repeat center;
	background-size: 1920px 1081px;
	height: 1080px;
}
.facebook-layout{
	background: url('../images/facebook_bg.png') no-repeat center;
	background-size: 1920px 1081px;
	height: 1080px;
}
.cafe-layout{
	background: url('../images/cafe_bg.png') no-repeat center;
	background-size: 1920px 1081px;
	height: 1080px;
}
.scroll-bar {
	z-index : 999;
	left : 80%;
	top : 140px;
	position : fixed;
	width : 100px;
}
.scroll-bar div{
	width : 100%;
}
.scroll-bar div.scroll ,.scroll-bar div.top{
	position : relative;
}
.scroll-bar div img{
	display : block;
	margin : 0px auto;
	cursor : pointer;
}
.scroll-bar .scroll.active img:last-child {
	display: none;
}
.scroll-bar .scroll:not(.active) img:first-child {
	display: none;
}
.scroll-bar div {
	margin-top: 16px;
}
.scroll-bar .cafe, .scroll-bar .facebook{
	margin-left: -82px;
}
.scroll-bar .facebook{
	margin-top: -36px;
}
section{
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.header{
	display : block;
	position : fixed;
	z-index : 999;
	height: 100px;
	width : 100%;
	text-align : center;
}
.header ul{
	background: url(../images/header_bg.png);
	background-size: cover;
	height: 100%;
	width : 1920px;
	margin : 0px;
	padding : 0px;
    align-items: center;
}
.header ul li {
	float : left;
	height : 100%;
	width : auto;
	margin-left : 190px;
	list-style-type: none;
	cursor : pointer;
}
.header ul li:nth-child(1){
	margin-left: 326px;
}
.header ul li .btn{
	height : 100%;
	width : 100%;
	padding : auto;
}
.header ul li .bar {
	margin-top : 20px;
	float : right;
}
.header li .btn img {
	margin-top : 48px;
}
.header li.active img:first-child {
	display: none;
}
.header li:not(.active) img:last-child {
	display: none;
}
.header-logo{
	display: block !important;
	margin-top : 20px !important;
}
.header  li.header-right{
	 margin-left : 130px;
}
.header  li.header-right .btn  img{
	 margin-top : 40px;

}

.header > #header-tab-check {
	position: fixed;
	display: none;
}
.play-group{
	width: 740px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 30%;
	cursor: pointer;
}
.btn-group{
	width: 740px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 45%;
}
.footer{
	position: relative;
	height: 44px;
}
.footer-btn{
	background: url('../images/footer_bg.png') no-repeat center;
	background-size: cover;
	width : 1920px;
	margin: auto;
	padding-top: 8px;
}
.footer a{
	margin-left: 300px;
	line-height: 48px;
}

.reserved-group{
	width: 1300px;
	margin: auto;
	position: relative;
	top: 38%;
}

.radio-group, .radio-label, .checkbox-group, .checkbox-label{
	cursor: pointer;
}

.radio-group.active img:first-child, .checkbox-group.active img:first-child{
	display: none;
}
.radio-group:not(.active) img:last-child, .checkbox-group:not(.active) img:last-child{
	display: none;
}
.input-group{
	margin-top: 12px;
}
input.phone{
	padding: 0px;
	background: url("../images/input_bg.png") no-repeat center;
	background-size: cover;
	border : none;
	width: 504px;
	height: 60px;
	color: rgb(131,124,108);
	font-size: 24px;
	font-weight : 600;
	text-align: center;
	float: left;
}
input.submit{
	border : none;
	background: url("../images/reserved_btn2.png") no-repeat center;
	background-size: cover;
	width: 269px;
	height: 78px;
	margin-left: 10px;
    position: relative;
    top: -8px;
}
.shadows{
	width: 1050px;
	margin: auto;
}
.gage-box{
	background: url("../images/gage_box.png") no-repeat center;
	background-size: cover;
	width: 100%;
	height: 407px;
	margin: auto;
}
.gage{
	background: url("../images/gage.png") no-repeat center;
	background-size: cover;
	width: 932px;
	height: 90px;
	margin: auto;
	position: relative;
	top: 24px;
}
.reward-group{
	position: relative;
	top: 47px;
}
.reward{
	margin-left: 2px;
	margin-right: 1px;
	padding-top: 10px;
	text-align: center;
	display: inline-block;
	width: 33%;
	height: 245px;
	float: left;
}
.shadow{
	margin-left: 2px;
	background: rgba(23,11,2,0.5);
	display: inline-block;
	position: absolute;
	width: 33%;
	height: 255px;
}
.cafe-btn{
    margin: auto;
    display: block;
    width: 485px;
    margin-top: 40px;

}
.none {
	display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal.popup .modal-content {
	width : 640px;
	margin: auto;
	border : none;
	position: relative;
}
.modal.popup .modal-content img{
	width: 100%;
}
.modal.popup .modal-content .close{
	cursor: pointer;
	width: 34px;
	height: 34px;
	position: absolute;
	top : 22px;
	right: 26px;

}
.txt_agree{
	padding :40px;
}
.txt_agree strong{font-size:20px;}
.txt_agree .scroll_box{height:530px; overflow-y : auto;}
.txt_agree p{font-size:15px;}
#policyLongModal .modal-content {
	background : url(/images/popup.png);
	background-size: cover;
	height: 686px;
	width: 1314px;
	color : black;
}
.modal-cafe {
    position: absolute;
    display: inline-block;
    width: 290px;
    height: 63px;
    left: 177px;
    bottom: 52px;
    cursor: pointer;
}


.facebook-reply{
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	width:819px;
    top: 66%;
    left: 226px;
	background-color: white;
	padding: 10px 5px;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}



@media screen and (max-width : 1366px) {


body,html{
	max-width: 1366px;
}

body.nonoverflow {
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: white;
}
.none{
	display :none !important;
}

#web-body > section {
	position: absolute;
}

#web-body > section.active {
	display: block;
	z-index: 3;
}

#web-body > section.active.ready {
	z-index: 2;
}

#web-body > section.sliding {
	z-index: 100;
}

#web-body > section:not(.active) {
	display: none;
}

.fadein {
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 40);
}

.fadein.ready {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.fadein.show {
	opacity: 1;
	transform: matrix(1, 0, 0, 1, 0, 0);
}


.main-layout{
	background: url('../images/main_bg.png') no-repeat center;
	background-size: 1366px 769px;
	height: 768px;
}
.reserved-layout{
	background: url('../images/reserved_bg.png') no-repeat center;
	background-size: 1366px 769px;
	height: 768px;
}
.facebook-layout{
	background: url('../images/facebook_bg.png') no-repeat center;
	background-size: 1366px 769px;
	height: 768px;
}
.cafe-layout{
	background: url('../images/cafe_bg.png') no-repeat center;
	background-size: 1366px 769px;
	height: 768px;
}
section{
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.header{
	display : block;
	position : fixed;
	z-index : 999;
	height: 71px;
	width : 100%;
	text-align : center;
}
.header ul{
	background: url(../images/header_bg.png);
	background-size: cover;
	height: 100%;
	width : 1366px;
	margin : 0px;
	padding : 0px;
    align-items: center;
}
.header ul li {
	float : left;
	height : 100%;
	width : auto;
	margin-left : 135px;
	list-style-type: none;
	cursor : pointer;
}
.header ul li:nth-child(1){
	margin-left: 231px;
}
.header ul li .btn{
	height : 100%;
	width : 100%;
	padding : auto;
}
.header ul li .bar {
	margin-top : 14px;
	float : right;
}
.header li .btn img {
	margin-top : 34px;
	height: 23px;
}
.header li.active img:first-child {
	display: none;
}
.header li:not(.active) img:last-child {
	display: none;
}
.header-logo{
	margin-top : 14px !important;
	width: 138px;
	height: 44px !important;
}
.header  li.header-right{
	 margin-left : 93px;
}
.header  li.header-right img{
	 margin-top : 32px !important;
	 height: 30px !important;

}

.header > #header-tab-check {
	position: fixed;
	display: none;
}
.play-group{
	width: 525px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 30%;
	cursor: pointer;
}
.btn-group{
	width: 525px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 45%;
}
.footer{
	position: relative;
	height: 31px;
}
.footer-btn{
	background: url('../images/footer_bg.png') no-repeat center;
	background-size: cover;
	width : 1366px;
	margin: auto;
	padding-top: 6px;
}
.footer a{
	margin-left: 213px;
	line-height: 31px;
}

.reserved-group{
	width: 923px;
	margin: auto;
	position: relative;
	top: 38%;
}

.radio-group, .radio-label, .checkbox-group, .checkbox-label{
	cursor: pointer;
}

.radio-group.active img:first-child, .checkbox-group.active img:first-child{
	display: none;
}
.radio-group:not(.active) img:last-child, .checkbox-group:not(.active) img:last-child{
	display: none;
}
.input-group{
	margin-top: 8px;
}
input.phone{
	padding: 0px;
	background: url("../images/input_bg.png") no-repeat center;
	background-size: cover;
	border : none;
	width: 358px;
	height: 43px;
	color: rgb(131,124,108);
	font-size: 17px;
	font-weight : 600;
	text-align: center;
	float: left;
}
input.submit{
	border : none;
	background: url("../images/reserved_btn2.png") no-repeat center;
	background-size: cover;
	width: 191px;
	height: 55px;
	margin-left: 7px;
    position: relative;
    top: -6px;
}
.none {
	display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 142px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal.popup .modal-content {
	width : 454px;
	margin: auto;
	border : none;
	position: relative;
}
.modal.popup .modal-content img{
	width: 100%;
}
.modal.popup .modal-content .close{
	cursor: pointer;
	width: 24px;
	height: 24px;
	position: absolute;
	top : 16px;
	right: 18px;

}
.txt_agree{
	padding :28px;
}
.txt_agree strong{font-size:14px;}
.txt_agree .scroll_box{height:376px; overflow-y : auto;}
.txt_agree p{font-size:11px;}
#policyLongModal .modal-content {
	background : url(/images/popup.png);
	background-size: cover;
	height: 487px;
	width: 933px;
	color : black;
}
.modal-cafe {
    position: absolute;
    display: inline-block;
    width: 206px;
    height: 45px;
    left: 126px;
    bottom: 37px;
    cursor: pointer;
}


.facebook-reply{
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	width:582px;
    top: 66%;
    left: 160px;
	background-color: white;
	padding: 7px 3.5px;
	height: 213px;
	overflow-y: auto;
	overflow-x: hidden;
}




}
